* {
  margin: 0;
  padding: 0;
}
.dingbu {
  height: 460px;
  width: 1226px;
  margin: 100px auto;
  background-image: url(../小米.webp);
  background-repeat: no-repeat;
}

.dingbu .chanpin {
  float: left;
  height: 420px;
  width: 234px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(162, 160, 160, 0.8);
}
.chanpin a {
  /* float: left; */
  display: block;
  text-decoration: none;
  width: 204px;
  height: 42px;

  color: white;
  font: normal 400 14px/42px "Microsoft yahei";
  /* padding: 40px; */
  padding-left: 30px;
  margin: 0 auto;
}

a:hover {
  background-color: rgba(255, 103, 0, 0.8);
  /* color: pink; */
}
/* 以下是首页链接的样式 */
.shouye {
  text-decoration: none;
  color: orange;
}
.shouye:hover {
  background-color: transparent;
  color: red;
}
