* {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}
.box {
  height: 165px;
  width: 246px;
  border: 2px solid #dee0dd;
  margin: 100px auto;
}
.box h3 {
  height: 32px;
  border-bottom: 2px dotted #dee0dd;
  /* padding: 5px 20px; */
  padding-left: 15px;
  font: normal 400 16px/32px "Microsoft yahei";
  color: #7d8182;
}
/* .box ul {
  padding-left: 10px;

  font-size: 14px;
}
.box ul li {
  margin-top: 4px;
} */
.box ul {
  margin-top: 7px;
}
.box ul li a {
  text-decoration: none;
  color: #8a8879;
  font-size: 12px;
}
.box ul li {
  height: 23px;
  line-height: 23px;
  padding-left: 20px;
}
.box ul li a:hover {
  color: #202124;
  text-decoration: underline;
}
